{# src/Xali/Bundle/UserBundle/Resources/views/Profile/edit.html.twig #}

{% extends "XaliUserBundle::base_user.html.twig" %}

{% block user_body %}

    <form action="{{ path('xali_user_profile_edit') }}" {#{{ form_enctype(form) }}#} method="POST" class="fos_user_profile_edit">
        {#{{ form_widget(form) }}#}
        Form content is commented
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
