{# src/DefaultBundle/Resources/views/index.html.twig #}

{% extends "XaliDefaultBundle::base_default.html.twig" %}

{% block meta_description %}
    {{ "meta.description"|trans }}
{% endblock %}

{#Overwrite default_body block#}
{% block default_body %}
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
        {{ "welcome.presentation"|trans|raw }}
            <img class="hidden-xs hidden-sm pull-right" src="{{ asset('resources/pictures/site/welcome/logo.png') }}" />
        
    </section>
    
    
        
{% endblock %}

