{# src/Xali/Bundle/UserBundle/Resources/views/base_user.html.twig #}
{# layout_user extends the global index #}

{% extends "::base.html.twig" %}


{# body can be edit by this layout #}
{% block body %}

    
    
    
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
    
    
    
    
    
    
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}    

